body{
    color: rgb(250, 0, 0);
    background: rgb(4, 4, 4);
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed rgb(255, 221, 0);
    width: 350px;
    height: 300px;
}
#result_of_objects, #result_of_accuracy{
    color: yellow;
}